main{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.images_item{
    display: none;
}
.images_item.active
{
    display: block;
}

@media (min-width: 1300px) {

    main{
        width: 1300px;
        margin: 0 auto;
    }
}
